.movie-grid
  margin: 30px
  display: grid
  justify-items: center
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
  grid-gap: 30px

@media (min-width: 768px)
  .movie-grid
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))

    