*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,body {
  min-height: 100%;
}

body{
  background-image: linear-gradient(-140deg, #2CD8D5 0%, #6B8DD6 48%, #8E37D7 100%);  
  font-family: 'Open Sans Condensed';
  color: white;
  line-height: 1.4;
}

input,button,form{
  font-family: inherit;
  min-width: 0
}